.wrap {

    &-row {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }

    &-column{
        position: relative;

        &--one {
            flex-grow: 1;
        }

        &--two {
            margin-top: 130px;
            border-left: 5px #EDA90D solid;
            transition: $tran-time all ease;
            background-color: $bg_color;
            flex-shrink: 0;

            @media (max-width: 1524px) {
                margin-top: 100px;    
            }
            @media (max-width: 1224px) {
                margin-top: 70px;  
            }

            .btn-more {
                display: block;
                position: fixed;
                top: 50%;
                transform: translate(-100%, 50%);
                cursor: pointer;
                transform: translate(-100%, -50%);
                width: 25px;
                height: 70px;
                border-radius: 5px;
                background-color: #EDA90D;
                @media (max-width: 860px) {
                    display: none;
                }
            }

            .btn-more::after {
                content: '';
                position: absolute;
                width: 17px;
                height: 17px;
                top: 50%;
                border-top: 3px #0E0C0B solid;
                border-right: 3px #0E0C0B solid;
                transform: translate(-4px, -50%) rotate(45deg); 
            }
        }
    }
}

.wrapper {
    // max-width: 1160px;
    max-width: 100vw;
    width: 100%;
    padding: 0 50px;
    margin: 0 0 0 110px;
    overflow: hidden;
    @media (max-width: 1724px) {
        margin: 0 0 0 90px;
    }
    @media (max-width: 1224px) {
        margin: 0 0 0 70px;
        padding: 0 25px;
    }
    @media (max-width: 1024px) {
        margin: 0 0 0 0;
    }
    @media (max-width: 860px) {
        margin: 0 0;
        padding: 0 20px;
    }

    &-fl-sb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 0;
    }
}

.left-bar {
    width: 90px;
    // max-height: 1040px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: $bg_color;
    align-items: center;
    z-index: 3;

    @media (max-width: 1524px) {
        width: 70px;
    }
    @media (max-width: 1224px) {
        width: 50px;
    }
    @media (max-width: 1024px) {
        bottom: 0;
        top: auto;
        height: 80px;
        width: 100%;
        padding: 30px 30px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 5;
    }

    .dsk {
        @media (max-width: 860px) {
            display: none;
        }
    }

    .mb-btn {
        display: none;

        @media (max-width: 860px) {
            display: block;
        }
    }

    .telegram {

        path {
            transition: $tran-time fill ease;
        }

        &:hover {
            path {
                fill: #36acf2;
            }
        }
    }

    .vk {
        margin: 50px 0;

        path {
            transition: $tran-time fill ease;
        }
        &:hover {
            path {
                fill: #5281b9;
            }
        }
    }
}

.right-bar {
    // position: fixed;
    // top: 0;
    // right: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 40px;
    background-color: $bg_color;
    width: 650px;
    z-index: 2;
    @media (max-width: 1724px) {
        max-width: 500px;
        padding: 25px;
    }
    @media (max-width: 1224px) {
        // padding: 25px;
        max-width: 350px;
    }
    @media (max-width: 860px) {
        display: none;
    }
    

    .ava {
        height: 70px;
        border-radius: 10px;
        
        @media (max-width: 1724px) {
            height: 60px;
        }

        @media (max-width: 1224px) {
            height: 50px;
            border-radius: 50%;
        }
        @media (max-width: 1024px) {
            display: none;
        }
    }

    .people {
        display: flex;
        justify-content: center;
        img {
            @media (max-width: 1524px) {
                height: 30px;
            }
        }
    }

    .box-massage {
        margin-top: 65px;
        overflow-y: auto;
        @media (max-width: 1224px) {
            margin-top: 30px;
        }


        &::-webkit-scrollbar {
            width: 10px; /* ширина для вертикального скролла */
            background-color: black;
        }
        
        /* ползунок скроллбара */
        &::-webkit-scrollbar-thumb {
            background-color: $bg_color;
            border-radius: 1px;
            // box-shadow: inset 1px 1px 10px #f3faf7;
        }
        
        // &::-webkit-scrollbar-thumb:hover {
        //     background-color: #253861;
        // }
    }

    .massage {
        display: flex;
        margin-bottom: 48px;
        @media (max-width: 1224px) {
            margin-bottom: 24px;
        }
        .box-inf {
            max-width: 450px;
            width: 100%;
            margin-left: 28px;
            @media (max-width: 1524px) {
                margin-left: 20px;
            }
            @media (max-width: 1224px) {
                margin-left: 15px;
            }
            .text-message {
                margin-bottom: 10px;
                @media (max-width: 1224px) {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .cont-reg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        // &--mrg {
        //     margin-top: 65px;
        // }
    }

    // .btn-in {
    //     padding: 20px 35px;
    //     display: inline-block;
    //     border-radius: 10px;
    //     background: 
    //     linear-gradient($bg_color, $bg_color) padding-box,
    //     $yellow;
    //     border-radius: 10px;
    //     border: 4px solid transparent;
    //     position: relative;
    //     transition: $tran-time transform ease;
    //     cursor: pointer;

    //     @media (max-width: 1524px) {
    //         padding: 16px 32px;
    //     }

    //     .text-menu {
    //         text-transform: uppercase;
    //         background: $yellow;
    //         -webkit-background-clip: text;
    //         -webkit-text-fill-color: transparent;
    //         color: #EDA90D;
    //     }

    //     &:hover {
    //         background: 
    //         $yellow padding-box,
    //         $yellow; 
    //         .text-menu {
    //             -webkit-text-fill-color: white;
                
    //         }       
    //     }
    // }
}

.header {
    // width: 100%;
    display: flex;
    background-color: $bg_color;
    // height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    &-btn {
        display: none;
        @media (max-width: 860px) {
            display: inline-block;
        }
    }

    .chat-top {
        display: flex;
        justify-content: space-between;
        width: 250px;
        margin-left: 20px;
        @media (max-width: 860px) {
            width: auto;
        }
    }

    .leng {
        padding: 20px;
        border-radius: 10px;
        background-color: #0E0C0B;
        display: flex;
        justify-content: center;
        position: relative; 
        @media (max-width: 860px) {
            display: none;
        }

        .fl {
            max-height: 30px;
        }

        &-list {
            position: fixed;
            // width: 100%;
            background-color: #0E0C0B;
            padding: 0 20px 20px 20px;
            border-radius: 0 0 10px 10px;
            // bottom: -54px;
            transition: 0.5s all ease;
            z-index: -1;
            opacity: 0;

            // .active-len {
            //     margin-top: 0;
            //     z-index: 1;
            //     opacity: 1;
            // }

            .row {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                cursor: pointer;
            }

        }
        .active-len {
            top: 65px;
            opacity: 1;
        }

        .ru {
            height: 15px;
            border-radius: 1px;
            margin-right: 12px;
        }
        .arrow {
            cursor: pointer;
            height: 12px;
            width: 12px;
            border-bottom: 2.5px white solid;
            border-right: 2.5px white solid;
            border-radius: 2px;
            transform: rotate(45deg);
            transition: $tran-time transform ease;

            &.active {
                transform: rotate(-135deg);
            }
        }

    }

    .logo {
        max-height: 50px;

        @media (max-width: 1524px) {
            height: 37px;
        }
        @media (max-width: 860px) {
            margin: 30px 0;
        }
    }

    &-menu {
        max-width: 875px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 100px;
        @media (max-width: 1524px) {
            margin-left: 90px;
        }
        @media (max-width: 1224px) {
            margin-left: 70px;
        }
        @media (max-width: 1024px) {
            margin-left: 30px;
        }
        @media (max-width: 860px) {
            display: none;
        }
    }
     
    .active {
        background: $yellow;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #EDA90D;
        // border-bottom: solid;

        &.header-items::before {
            height: 5px;
        }
    }

    &-items {
        padding: 60px 5px 65px 5px;
        position: relative;
        @media (max-width: 1524px) {
            padding: 50px 5px;
        }
        @media (max-width: 1224px) {
            padding: 35px 5px;
        }
        @media (max-width: 1024px) {
            padding: 25px 5px;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $yellow;
            width: 100%;
            transition: $tran-time all ease;
            height: 0;
            z-index: -1;
        }

        &:hover {
            &.active {
                -webkit-text-fill-color: white;
            }

            &::before {
                height: 70% !important;
            }
        }
    }

}

.index-block {
    padding-top: 250px;
    display: flex;
    @media (max-width: 1524px) {
        padding-top: 220px;
    }
    @media (max-width: 1224px) {
        padding-top: 200px;
    }
    @media (max-width: 1024px) {
        padding-top: 120px;
    }
    @media (max-width: 860px) {
        padding-top: 120px;
    }

    .text {
        max-width: 790px;
        padding: 25px 0 65px;
        @media (max-width: 1524px) {
            padding: 30px 0 45px;
        }
    }

    .contein {
        display: flex;
        justify-content: space-between;
        margin-top: 140px;
        @media (max-width: 1524px) {
            margin-top: 70px;
        }
        @media (max-width: 1400px) {
            flex-wrap: wrap;
            width: 100%;
        }
        & :last-child {
            margin-right: 0;
            @media (max-width: 1224px) {
                margin-bottom: 0;
                margin-right: 0;
            }
        }

        &-item {
            margin-right: 10px;
            // max-width: 520px;
            width: 100%;
            padding: 36px;
            border-radius: 10px;
            background-color: $bg_color;
            // @media (max-width: 1724px) {
            //     max-width: 315px;
            // }
            @media (max-width: 1400px) {
                // max-width: 100%;
                margin-bottom: 10px;
                margin-right: 0;
            }

            .text-h3 {
                margin: 24px 0 16px;
            }

            .text-small {
                margin-bottom: 37px;

                .numb {
                    color: #57B92A;
                }

                &--green {
                    padding-left: 28px;
                    position: relative;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        background-color: #57B92A;
                        left: 0;
                        border-radius: 50%;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

        }
    }

    
}

.footer {
    display: flex;
    background-color: $bg_color;
    margin-top: 100px;

    &-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        @media (max-width: 860px) {
            padding: 30px 0 80px 0;
        }
    }

    &-cont {
        display: flex;
        // justify-content: space-between;
        a {
            margin-right: 75px;
            @media (max-width: 860px) {
                margin-right: 35px;
            }
        }
        & :last-child {
            margin-right: 0;
        }
        &--mrg {
            margin-top: 65px;
            @media (max-width: 860px) {
                margin-top: 0;
            }
        }

        &--menu {
            @media (max-width: 860px) {
                display: none;
            }
        }

        .text-menu {
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                height: 2px;
                width: 100%;
                transform-origin: right;
                transform: scaleX(0);
                transition: $tran-time transform ease;
                background-color: white;
            }

            &:hover {
                &::before {
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
        }
    }
}