* {
  font-family: intrer-400;
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  background-color: black; }

@font-face {
  font-family: 'inter-400';
  src: url("../font/Inter-Regular.ttf"); }
@font-face {
  font-family: 'inter-500';
  src: url("../font/Inter-Medium.ttf"); }
@font-face {
  font-family: 'golos';
  src: url("../font/Golos-Text_Medium.ttf"); }
.text {
  font-family: inter-400;
  font-size: 24px;
  line-height: 130%; }
  .text-h1 {
    font-family: golos;
    font-size: 48px;
    line-height: 57px; }
  .text-h2 {
    font-family: golos;
    font-size: 40px;
    line-height: 48px; }
  .text-h3 {
    font-family: inter-500;
    font-size: 32px;
    line-height: 39px; }
  .text-number {
    font-family: inter-400;
    font-size: 32px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px; }
  .text-message {
    font-family: inter-500;
    font-size: 28px;
    line-height: 34px; }
    .text-message--id {
      color: #606060; }
  .text-menu {
    font-family: inter-500;
    font-size: 24px;
    line-height: 29px; }
  .text-small {
    font-family: inter-400;
    font-size: 20px;
    line-height: 24px; }
    .text-small--green {
      color: #57B92A; }

.btn {
  color: #0E0C0B;
  text-transform: uppercase;
  background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%);
  padding: 20px 32px;
  display: inline-block;
  padding: 24px 95px 24px 48px;
  max-width: 320px;
  cursor: pointer;
  border-radius: 10px; }
  .btn-small {
    padding: 20px 70px 20px 36px; }
    .btn-small .text-menu {
      font-size: 20px; }
    .btn-small .text-menu::before {
      width: 9px !important;
      height: 9px !important; }
  .btn .text-menu {
    position: relative; }
  .btn .text-menu::after {
    content: '';
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 2.5px;
    border-radius: 1px;
    background-color: black;
    transform-origin: left;
    transition: 0.2s transform ease; }
  .btn .text-menu::before {
    content: '';
    position: absolute;
    right: -30px;
    top: 50%;
    width: 10.5px;
    height: 10.5px;
    border-right: 2.5px solid black;
    border-bottom: 2.5px solid black;
    transform: rotate(-45deg) translateY(-70%);
    border-radius: 1.5px;
    transition: 0.2s transform ease; }
  .btn:hover .text-menu::after {
    transform: translateY(-50%) scaleX(1.5); }
  .btn:hover .text-menu::before {
    transform: rotate(-45deg) translateY(-70%) translate(7px, 7px); }

.wrapper {
  max-width: 1160px;
  width: 100%;
  padding: 0 50px;
  margin: 0 560px 0 110px; }
  .wrapper-fl-sb {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.left-bar {
  width: 110px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #141318;
  align-items: center;
  z-index: 3; }
  .left-bar .telegram path {
    transition: 0.2s fill ease; }
  .left-bar .telegram:hover path {
    fill: #36acf2; }
  .left-bar .vk {
    margin: 50px 0; }
    .left-bar .vk path {
      transition: 0.2s fill ease; }
    .left-bar .vk:hover path {
      fill: #5281b9; }

.right-bar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px;
  background-color: #141318;
  width: 650px;
  z-index: 3; }
  .right-bar .peaple {
    display: flex;
    justify-content: center; }
  .right-bar .box-massage {
    margin-top: 65px; }
  .right-bar .massage {
    display: flex;
    margin-bottom: 48px; }
    .right-bar .massage .box-inf {
      max-width: 450px;
      width: 100%;
      margin-left: 28px; }
      .right-bar .massage .box-inf .text-message {
        margin-bottom: 10px; }
  .right-bar .cont-reg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .right-bar .cont-reg--mrg {
      margin-top: 65px; }
  .right-bar .btn-in {
    padding: 20px 35px;
    display: inline-block;
    border-radius: 10px;
    background: linear-gradient(#141318, #141318) padding-box, linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%);
    border-radius: 10px;
    border: 4px solid transparent;
    position: relative;
    transition: 0.2s transform ease;
    cursor: pointer; }
    .right-bar .btn-in .text-menu {
      text-transform: uppercase;
      background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #EDA90D; }
    .right-bar .btn-in:hover {
      background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%) padding-box, linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%); }
      .right-bar .btn-in:hover .text-menu {
        -webkit-text-fill-color: white; }

.header {
  width: 100%;
  display: flex;
  background-color: #141318;
  position: fixed;
  top: 0;
  z-index: 3; }
  .header-menu {
    max-width: 875px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px; }
  .header .active {
    background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #EDA90D; }
    .header .active.header-items::before {
      height: 5px; }
  .header-items {
    padding: 60px 5px 65px 5px;
    position: relative; }
    .header-items::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%);
      width: 100%;
      transition: 0.2s all ease;
      height: 0;
      z-index: -1; }
    .header-items:hover.active {
      -webkit-text-fill-color: white; }
    .header-items:hover::before {
      height: 70% !important; }

.index-block {
  padding-top: 250px; }
  .index-block .text {
    max-width: 790px;
    padding: 25px 0 65px; }
  .index-block .contein {
    display: flex;
    justify-content: space-between;
    margin-top: 140px; }
    .index-block .contein :last-child {
      margin-right: 0; }
    .index-block .contein-item {
      margin-right: 10px;
      max-width: 520px;
      width: 100%;
      padding: 36px;
      border-radius: 10px;
      background-color: #141318; }
      .index-block .contein-item .text-h3 {
        margin: 24px 0 16px; }
      .index-block .contein-item .text-small {
        margin-bottom: 37px; }
        .index-block .contein-item .text-small .numb {
          color: #57B92A; }
        .index-block .contein-item .text-small--green {
          padding-left: 28px;
          position: relative; }
          .index-block .contein-item .text-small--green::before {
            content: '';
            display: block;
            position: absolute;
            width: 12px;
            height: 12px;
            background-color: #57B92A;
            left: 0;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%); }
  .index-block .footer {
    width: 100%;
    background-color: #141318;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0 80px;
    margin-top: 100px; }
    .index-block .footer-cont {
      display: flex; }
      .index-block .footer-cont a {
        margin-right: 75px; }
      .index-block .footer-cont :last-child {
        margin-right: 0; }
      .index-block .footer-cont--mrg {
        margin-top: 65px; }
      .index-block .footer-cont .text-menu {
        position: relative; }
        .index-block .footer-cont .text-menu::before {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          height: 2px;
          width: 100%;
          transform-origin: right;
          transform: scaleX(0);
          transition: 0.2s transform ease;
          background-color: white; }
        .index-block .footer-cont .text-menu:hover::before {
          transform-origin: left;
          transform: scaleX(1); }

/*# sourceMappingURL=style.css.map */
