* {
    font-family: intrer-400;
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
    // min-height: 100vh;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
    position: relative;
}

@import 'font';
@import 'vars';
@import 'text';
@import 'buttons';
@import 'index';
@import 'singin';
@import 'mobile';
