@charset "UTF-8";
* {
  font-family: intrer-400;
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  background-color: black;
  position: relative; }

@font-face {
  font-family: 'inter-400';
  src: url("../font/Inter-Regular.ttf"); }
@font-face {
  font-family: 'inter-500';
  src: url("../font/Inter-Medium.ttf"); }
@font-face {
  font-family: 'golos';
  src: url("../font/Golos-Text_Medium.ttf"); }
.text {
  font-family: inter-400;
  font-size: 20px;
  line-height: 130%; }
  @media (max-width: 1524px) {
    .text {
      font-size: 20px;
      line-height: 26px; } }
  .text-h1 {
    font-family: golos;
    font-size: 48px;
    line-height: 57px; }
    @media (max-width: 1224px) {
      .text-h1 {
        font-size: 40px; } }
  .text-h2 {
    font-family: golos;
    font-size: 36px;
    line-height: 48px;
    font-weight: 400; }
    @media (max-width: 1524px) {
      .text-h2 {
        font-size: 30px;
        line-height: 43px; } }
    @media (max-width: 1224px) {
      .text-h2 {
        font-size: 28px; } }
  .text-h3 {
    font-family: inter-500;
    font-size: 32px;
    line-height: 39px; }
    @media (max-width: 1524px) {
      .text-h3 {
        font-size: 28px;
        line-height: 33px; } }
  .text-number {
    font-family: inter-400;
    font-size: 32px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px; }
    @media (max-width: 1524px) {
      .text-number {
        font-size: 28px; } }
    @media (max-width: 1224px) {
      .text-number {
        font-size: 23px; } }
    @media (max-width: 1024px) {
      .text-number {
        font-size: 20px; } }
    @media (max-width: 860px) {
      .text-number {
        font-size: 18px; } }
  .text-message {
    font-family: inter-500;
    font-size: 28px;
    line-height: 34px; }
    @media (max-width: 1724px) {
      .text-message {
        font-size: 24px;
        line-height: 30px; } }
    @media (max-width: 1524px) {
      .text-message {
        font-size: 20px;
        line-height: 30px; } }
    @media (max-width: 1224px) {
      .text-message {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        line-height: 25px; } }
    .text-message--id {
      color: #606060; }
  .text-menu {
    font-family: inter-500;
    font-size: 22px;
    line-height: 29px; }
    @media (max-width: 1524px) {
      .text-menu {
        font-size: 16px;
        line-height: 20px; } }
  .text-small {
    font-family: inter-400;
    font-size: 18px;
    line-height: 24px; }
    @media (max-width: 1524px) {
      .text-small {
        font-size: 16px;
        line-height: 20px; } }
    .text-small--green {
      color: #57B92A; }
  .text-grad {
    background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #EDA90D; }

.btn {
  color: #0E0C0B;
  text-transform: uppercase;
  background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%);
  padding: 20px 32px;
  display: inline-block;
  padding: 24px 95px 24px 48px;
  max-width: 320px;
  cursor: pointer;
  border-radius: 10px; }
  @media (max-width: 1524px) {
    .btn {
      padding: 20px 62px 20px 32px; } }
  .btn-small {
    padding: 20px 70px 20px 36px; }
    @media (max-width: 1524px) {
      .btn-small {
        padding: 16px 62px 16px 32px; } }
    .btn-small .text-menu {
      font-size: 20px; }
      @media (max-width: 1224px) {
        .btn-small .text-menu {
          font-size: 16px; } }
    .btn-small .text-menu::before {
      width: 9px !important;
      height: 9px !important; }
  .btn .text-menu {
    position: relative;
    color: #141318;
    transition: 0.5s all ease; }
  .btn .text-menu::after {
    content: '';
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 2.5px;
    border-radius: 1px;
    background-color: black;
    transform-origin: left;
    transition: 0.5s transform ease; }
  .btn .text-menu::before {
    content: '';
    position: absolute;
    right: -30px;
    top: 50%;
    width: 10.5px;
    height: 10.5px;
    border-right: 2.5px solid black;
    border-bottom: 2.5px solid black;
    transform: rotate(-45deg) translateY(-70%);
    border-radius: 1.5px;
    transition: 0.5s transform ease; }
  .btn:hover .text-menu::after {
    transform: translateY(-50%) scaleX(1.5); }
  .btn:hover .text-menu::before {
    transform: rotate(-45deg) translateY(-70%) translate(7px, 7px); }
  .btn-singin {
    padding: 15px 25px;
    transition: 0.5s all ease;
    border: 4px solid transparent; }
    .btn-singin .text-menu {
      font-size: 20px; }
      @media (max-width: 1224px) {
        .btn-singin .text-menu {
          font-size: 16px; } }
    .btn-singin .text-menu::after, .btn-singin .text-menu::before {
      display: none; }
    .btn-singin:hover {
      background: linear-gradient(#141318, #141318) padding-box, linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%); }
      .btn-singin:hover .text-menu {
        text-transform: uppercase;
        background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #EDA90D; }

.btn-in {
  padding: 20px 35px;
  display: inline-block;
  border-radius: 10px;
  background: linear-gradient(#141318, #141318) padding-box, linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%);
  border-radius: 10px;
  border: 4px solid transparent;
  position: relative;
  transition: 0.5s transform ease;
  cursor: pointer; }
  @media (max-width: 1524px) {
    .btn-in {
      padding: 16px 32px; } }
  .btn-in .text-menu {
    text-transform: uppercase;
    background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #EDA90D; }
  .btn-in:hover {
    background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%) padding-box, linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%); }
    .btn-in:hover .text-menu {
      -webkit-text-fill-color: white; }

.wrap-row {
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
.wrap-column {
  position: relative; }
  .wrap-column--one {
    flex-grow: 1; }
  .wrap-column--two {
    margin-top: 130px;
    border-left: 5px #EDA90D solid;
    transition: 0.5s all ease;
    background-color: #141318;
    flex-shrink: 0; }
    @media (max-width: 1524px) {
      .wrap-column--two {
        margin-top: 100px; } }
    @media (max-width: 1224px) {
      .wrap-column--two {
        margin-top: 70px; } }
    .wrap-column--two .btn-more {
      display: block;
      position: fixed;
      top: 50%;
      transform: translate(-100%, 50%);
      cursor: pointer;
      transform: translate(-100%, -50%);
      width: 25px;
      height: 70px;
      border-radius: 5px;
      background-color: #EDA90D; }
      @media (max-width: 860px) {
        .wrap-column--two .btn-more {
          display: none; } }
    .wrap-column--two .btn-more::after {
      content: '';
      position: absolute;
      width: 17px;
      height: 17px;
      top: 50%;
      border-top: 3px #0E0C0B solid;
      border-right: 3px #0E0C0B solid;
      transform: translate(-4px, -50%) rotate(45deg); }

.wrapper {
  max-width: 100vw;
  width: 100%;
  padding: 0 50px;
  margin: 0 0 0 110px;
  overflow: hidden; }
  @media (max-width: 1724px) {
    .wrapper {
      margin: 0 0 0 90px; } }
  @media (max-width: 1224px) {
    .wrapper {
      margin: 0 0 0 70px;
      padding: 0 25px; } }
  @media (max-width: 1024px) {
    .wrapper {
      margin: 0 0 0 0; } }
  @media (max-width: 860px) {
    .wrapper {
      margin: 0 0;
      padding: 0 20px; } }
  .wrapper-fl-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0; }

.left-bar {
  width: 90px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #141318;
  align-items: center;
  z-index: 3; }
  @media (max-width: 1524px) {
    .left-bar {
      width: 70px; } }
  @media (max-width: 1224px) {
    .left-bar {
      width: 50px; } }
  @media (max-width: 1024px) {
    .left-bar {
      bottom: 0;
      top: auto;
      height: 80px;
      width: 100%;
      padding: 30px 30px;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      z-index: 5; } }
  @media (max-width: 860px) {
    .left-bar .dsk {
      display: none; } }
  .left-bar .mb-btn {
    display: none; }
    @media (max-width: 860px) {
      .left-bar .mb-btn {
        display: block; } }
  .left-bar .telegram path {
    transition: 0.5s fill ease; }
  .left-bar .telegram:hover path {
    fill: #36acf2; }
  .left-bar .vk {
    margin: 50px 0; }
    .left-bar .vk path {
      transition: 0.5s fill ease; }
    .left-bar .vk:hover path {
      fill: #5281b9; }

.right-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 40px;
  background-color: #141318;
  width: 650px;
  z-index: 2; }
  @media (max-width: 1724px) {
    .right-bar {
      max-width: 500px;
      padding: 25px; } }
  @media (max-width: 1224px) {
    .right-bar {
      max-width: 350px; } }
  @media (max-width: 860px) {
    .right-bar {
      display: none; } }
  .right-bar .ava {
    height: 70px;
    border-radius: 10px; }
    @media (max-width: 1724px) {
      .right-bar .ava {
        height: 60px; } }
    @media (max-width: 1224px) {
      .right-bar .ava {
        height: 50px;
        border-radius: 50%; } }
    @media (max-width: 1024px) {
      .right-bar .ava {
        display: none; } }
  .right-bar .people {
    display: flex;
    justify-content: center; }
    @media (max-width: 1524px) {
      .right-bar .people img {
        height: 30px; } }
  .right-bar .box-massage {
    margin-top: 65px;
    overflow-y: auto;
    /* ползунок скроллбара */ }
    @media (max-width: 1224px) {
      .right-bar .box-massage {
        margin-top: 30px; } }
    .right-bar .box-massage::-webkit-scrollbar {
      width: 10px;
      /* ширина для вертикального скролла */
      background-color: black; }
    .right-bar .box-massage::-webkit-scrollbar-thumb {
      background-color: #141318;
      border-radius: 1px; }
  .right-bar .massage {
    display: flex;
    margin-bottom: 48px; }
    @media (max-width: 1224px) {
      .right-bar .massage {
        margin-bottom: 24px; } }
    .right-bar .massage .box-inf {
      max-width: 450px;
      width: 100%;
      margin-left: 28px; }
      @media (max-width: 1524px) {
        .right-bar .massage .box-inf {
          margin-left: 20px; } }
      @media (max-width: 1224px) {
        .right-bar .massage .box-inf {
          margin-left: 15px; } }
      .right-bar .massage .box-inf .text-message {
        margin-bottom: 10px; }
        @media (max-width: 1224px) {
          .right-bar .massage .box-inf .text-message {
            margin-bottom: 5px; } }
  .right-bar .cont-reg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }

.header {
  display: flex;
  background-color: #141318;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3; }
  .header-btn {
    display: none; }
    @media (max-width: 860px) {
      .header-btn {
        display: inline-block; } }
  .header .chat-top {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-left: 20px; }
    @media (max-width: 860px) {
      .header .chat-top {
        width: auto; } }
  .header .leng {
    padding: 20px;
    border-radius: 10px;
    background-color: #0E0C0B;
    display: flex;
    justify-content: center;
    position: relative; }
    @media (max-width: 860px) {
      .header .leng {
        display: none; } }
    .header .leng .fl {
      max-height: 30px; }
    .header .leng-list {
      position: fixed;
      background-color: #0E0C0B;
      padding: 0 20px 20px 20px;
      border-radius: 0 0 10px 10px;
      transition: 0.5s all ease;
      z-index: -1;
      opacity: 0; }
      .header .leng-list .row {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        cursor: pointer; }
    .header .leng .active-len {
      top: 65px;
      opacity: 1; }
    .header .leng .ru {
      height: 15px;
      border-radius: 1px;
      margin-right: 12px; }
    .header .leng .arrow {
      cursor: pointer;
      height: 12px;
      width: 12px;
      border-bottom: 2.5px white solid;
      border-right: 2.5px white solid;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: 0.5s transform ease; }
      .header .leng .arrow.active {
        transform: rotate(-135deg); }
  .header .logo {
    max-height: 50px; }
    @media (max-width: 1524px) {
      .header .logo {
        height: 37px; } }
    @media (max-width: 860px) {
      .header .logo {
        margin: 30px 0; } }
  .header-menu {
    max-width: 875px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px; }
    @media (max-width: 1524px) {
      .header-menu {
        margin-left: 90px; } }
    @media (max-width: 1224px) {
      .header-menu {
        margin-left: 70px; } }
    @media (max-width: 1024px) {
      .header-menu {
        margin-left: 30px; } }
    @media (max-width: 860px) {
      .header-menu {
        display: none; } }
  .header .active {
    background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #EDA90D; }
    .header .active.header-items::before {
      height: 5px; }
  .header-items {
    padding: 60px 5px 65px 5px;
    position: relative; }
    @media (max-width: 1524px) {
      .header-items {
        padding: 50px 5px; } }
    @media (max-width: 1224px) {
      .header-items {
        padding: 35px 5px; } }
    @media (max-width: 1024px) {
      .header-items {
        padding: 25px 5px; } }
    .header-items::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%);
      width: 100%;
      transition: 0.5s all ease;
      height: 0;
      z-index: -1; }
    .header-items:hover.active {
      -webkit-text-fill-color: white; }
    .header-items:hover::before {
      height: 70% !important; }

.index-block {
  padding-top: 250px;
  display: flex; }
  @media (max-width: 1524px) {
    .index-block {
      padding-top: 220px; } }
  @media (max-width: 1224px) {
    .index-block {
      padding-top: 200px; } }
  @media (max-width: 1024px) {
    .index-block {
      padding-top: 120px; } }
  @media (max-width: 860px) {
    .index-block {
      padding-top: 120px; } }
  .index-block .text {
    max-width: 790px;
    padding: 25px 0 65px; }
    @media (max-width: 1524px) {
      .index-block .text {
        padding: 30px 0 45px; } }
  .index-block .contein {
    display: flex;
    justify-content: space-between;
    margin-top: 140px; }
    @media (max-width: 1524px) {
      .index-block .contein {
        margin-top: 70px; } }
    @media (max-width: 1400px) {
      .index-block .contein {
        flex-wrap: wrap;
        width: 100%; } }
    .index-block .contein :last-child {
      margin-right: 0; }
      @media (max-width: 1224px) {
        .index-block .contein :last-child {
          margin-bottom: 0;
          margin-right: 0; } }
    .index-block .contein-item {
      margin-right: 10px;
      width: 100%;
      padding: 36px;
      border-radius: 10px;
      background-color: #141318; }
      @media (max-width: 1400px) {
        .index-block .contein-item {
          margin-bottom: 10px;
          margin-right: 0; } }
      .index-block .contein-item .text-h3 {
        margin: 24px 0 16px; }
      .index-block .contein-item .text-small {
        margin-bottom: 37px; }
        .index-block .contein-item .text-small .numb {
          color: #57B92A; }
        .index-block .contein-item .text-small--green {
          padding-left: 28px;
          position: relative; }
          .index-block .contein-item .text-small--green::before {
            content: '';
            display: block;
            position: absolute;
            width: 12px;
            height: 12px;
            background-color: #57B92A;
            left: 0;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%); }

.footer {
  display: flex;
  background-color: #141318;
  margin-top: 100px; }
  .footer-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0; }
    @media (max-width: 860px) {
      .footer-box {
        padding: 30px 0 80px 0; } }
  .footer-cont {
    display: flex; }
    .footer-cont a {
      margin-right: 75px; }
      @media (max-width: 860px) {
        .footer-cont a {
          margin-right: 35px; } }
    .footer-cont :last-child {
      margin-right: 0; }
    .footer-cont--mrg {
      margin-top: 65px; }
      @media (max-width: 860px) {
        .footer-cont--mrg {
          margin-top: 0; } }
    @media (max-width: 860px) {
      .footer-cont--menu {
        display: none; } }
    .footer-cont .text-menu {
      position: relative; }
      .footer-cont .text-menu::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        transform-origin: right;
        transform: scaleX(0);
        transition: 0.5s transform ease;
        background-color: white; }
      .footer-cont .text-menu:hover::before {
        transform-origin: left;
        transform: scaleX(1); }

.disabled {
  display: none; }

.wrap-in {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10; }

.singin {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; }
  .singin::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.9;
    z-index: -1; }
  .singin-wind {
    padding: 40px 40px;
    background-color: #141318;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    position: relative; }
    .singin-wind .exit {
      position: absolute;
      top: 20px;
      right: 25px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: 0.5s transform ease; }
      .singin-wind .exit:hover {
        transform: rotate(90deg); }
      .singin-wind .exit::after, .singin-wind .exit::before {
        content: '';
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 2px;
        top: 50%;
        transform: translateY(50%);
        transform-origin: center;
        background-color: white; }
      .singin-wind .exit::after {
        transform: translateY(-50%) rotate(45deg); }
      .singin-wind .exit::before {
        transform: translateY(-50%) rotate(-45deg); }
    .singin-wind .text-h2 {
      text-align: center; }
    .singin-wind .text {
      margin: 35px 0 25px; }
      .singin-wind .text .mrg {
        margin: 32px 0 52px; }
  .singin .name {
    margin-top: 24px; }
  .singin-inp {
    display: block;
    max-width: 700px;
    width: 100%;
    background-color: #0E0C0B;
    font-family: inter-500;
    font-size: 18px;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px; }
    .singin-inp[type="password"] {
      margin-top: 20px; }
    .singin-inp::placeholder {
      font-family: inter-500;
      font-size: 18px;
      color: #606060; }
  .singin input[type="checkbox"] {
    position: absolute;
    opacity: 0; }
  .singin label {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 5px; }
  .singin input[type="checkbox"]:checked + label::before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 15px;
    top: 0px;
    right: 6px;
    border-right: 1px #EDA90D solid;
    border-bottom: 1px #EDA90D solid;
    transform: rotate(45deg); }
  .singin .text-grad {
    position: relative; }
    .singin .text-grad::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 0.5px;
      width: 100%;
      transform-origin: right;
      transform: scaleX(0);
      transition: 0.5s transform ease;
      background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%); }
    .singin .text-grad:hover::before {
      transform-origin: left;
      transform: scaleX(1); }
  .singin .btn-singin {
    margin-bottom: 20px; }
  .singin .box-share {
    display: flex;
    max-width: 102px;
    width: 100%;
    justify-content: space-between; }
    .singin .box-share .btn-share {
      width: 50px;
      height: 50px;
      border-radius: 10px;
      background-color: #0E0C0B;
      display: flex;
      justify-content: center;
      align-items: center; }
      .singin .box-share .btn-share img {
        height: 25px;
        transition: 0.5s transform ease; }
      .singin .box-share .btn-share:hover img {
        transform: scale(1.2); }

.mobile {
  position: fixed;
  top: 90px;
  left: -100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: black;
  flex-direction: column;
  transition: 0.5s all ease;
  margin-left: -100vh;
  opacity: 0; }
  .mobile-wrapper {
    width: 100%; }
  .mobile .active {
    position: relative; }
    .mobile .active::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 5px;
      height: 100%;
      background: linear-gradient(45.71deg, #EDA90D 0%, #F8D903 100.27%); }
  .mobile-item {
    padding: 15px 20px;
    border-bottom: 0.5px #3a3b3b solid;
    font-size: 20px;
    font-family: inter-400;
    color: white; }
  .mobile-chat {
    position: absolute;
    top: 90px;
    left: -100vh;
    bottom: 80px;
    background-color: #141318;
    transition: 0.5s all ease;
    margin-left: -100vh;
    opacity: 0; }
    .mobile-chat .chat-wrap {
      width: 100%;
      display: block; }
    .mobile-chat .right-bar {
      position: absolute;
      top: 0;
      left: -100vh;
      right: 0;
      bottom: 0;
      max-width: 100%; }
      .mobile-chat .right-bar .ava {
        display: block; }

.active {
  margin-left: 0;
  opacity: 1;
  left: 0 !important;
  right: 0 !important; }

/*# sourceMappingURL=style.css.map */
