.text {
    font-family: inter-400;
    font-size: 20px;
    line-height: 130%;
    @media (max-width: 1524px) {
        font-size: 20px;
        line-height: 26px;
    }

    &-h1 {
        font-family: golos;
        font-size: 48px;
        line-height: 57px;
        @media (max-width: 1224px) {
            font-size: 40px;
        }
    }

    &-h2 {
        font-family: golos;
        font-size: 30px;
        line-height: 48px;
        font-weight: 400;
        @media (max-width: 1524px) {
            font-size: 26px;
            line-height: 43px;
        }
        @media (max-width: 1224px) {
            font-size: 24px;
        }
    }

    &-h3 {
        font-family: inter-500;
        font-size: 32px;
        line-height: 39px;
        @media (max-width: 1524px) {
            font-size: 28px;
            line-height: 33px;
        }
    }

    &-number {
        font-family: inter-400;
        font-size: 27px;
        line-height: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        @media (max-width: 1524px) {
            font-size: 24px;
            margin-left: 5px;
        }
        @media (max-width: 1224px) {
            font-size: 20px;
        }
        @media (max-width: 1024px) {
            font-size: 18px;
        }
        @media (max-width: 860px) {
            font-size: 18px;
        }
    }

    &-message {
        font-family: inter-500;
        font-size: 28px;
        line-height: 34px;
        @media (max-width: 1724px) {
            font-size: 24px;
            line-height: 30px;
        }

        @media (max-width: 1524px) {
            font-size: 20px;
            line-height: 30px;
        }
        @media (max-width: 1224px) {
            display: flex;
            flex-direction: column;
            font-size: 20px;
            line-height: 25px;
        }

        &--id {
            color: #606060;
        }
    }

    &-menu {
        font-family: inter-500;
        font-size: 22px;
        line-height: 29px;
        @media (max-width: 1524px) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &-small {
        font-family: inter-400;
        font-size: 18px;
        line-height: 24px;
        @media (max-width: 1524px) {
            font-size: 16px;
            line-height: 20px;
        }

        &--green {
            color: #57B92A;
        }
    }

    &-grad {
        background: $yellow;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #EDA90D;
    }
}